html {
    font-family: "Arial", sans-serif;
    font-weight: 400;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-image: url(final%20background%20for%20home%20page.png);
     animation: fadeIn 1s ease-in;
}
}
.clearfix:after {
    display: block;
    content: " ";
    clear: both;
}

.container {
    padding: 0 12%;
}

.nav {
    color: dimgray;
    margin: auto;
}

.nav__left {
    float: left;
}

.nav__right {
    float: right;
    line-height: 70px;
    padding-top: 40px;
}

.nav__right ul {
    margin: 0;
    list-style-type: none;
}

.nav__right ul li {
    display: inline-block;
}

.nav__right ul li a {
    color: dimgray;
    margin: 0 3em;
    text-decoration: none;
}

/* Added this in, unsure if you want it or not. */

.nav__right ul li:hover a {
    text-decoration: underline;
    cursor: pointer;
}
.nav__header{
    color: #52e5c3
}
.texts{
      margin: 0;
    padding: 400px;
    border: 0;
    outline: 0;
    font-size:0;
    vertical-align: baseline;}

.work-1 {
    float: left;
    width: 50%;
    height: auto;
}
.social_media{
    float: left;
    margin: 0;
    position: absolute;
    left: 45%;
    top:90%
}
.gallery {
    margin: 19px 50px;
    }
.gallery img {
    width: 230px;
    padding: 5px;
    filter:grayscale(100%);
    transition: 1s;
    }
.gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}
@keyframes fadeIn {
from {
        opacity: 0;
}
to {
        opacity: :1;
}
}

